<div id="pagematerial">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="row">
            <div>

                <div class="nav nav-navbar">
                    <h2>Completed Internship</h2>
                </div>
                <div class="nav nav-navbar">
                    I completed "Dsa Scholar internship" in Thathatsu scholar Program.
                    <div>
                        <b>Duration:</b> <span>From 01-Aug-2022 To 01-Sep-2022</span>

                    </div>
                    <div>

                        <b>Role: </b> <span>As a dsa Scholar I learned many data structures and their implementation
                            also solved complex problems like N-Queen Problem and Sudoku solver </span>
                    </div>
                    <b>Achivements:</b> <span>Able to understand and solve the various DSA problems based on different
                        methods.</span>

                </div>


                <div class="nav navbar">
                    <h2>Running Internship</h2>
                </div>
                <div class="nav navbar">
                    currently I am working at "Bharuwa Solutions Pvt.Ltd" as a Internship Trainee of Software Developer.
                    <div>

                        <b>Duration:</b> <span>From 03-OCT-2022 To 03-Mar-2023</span>
                    </div>
                    <div>

                        <b>Role: </b> <span>Currently Working on Angular to make various web applications ,
                            Also will learn many thing about Advance java in upcoming months. </span>
                    </div>
                    <b>Achivements:</b> <span>Strong Understanding on Angular website's And familiar with different
                        languages
                        and frameworks as well.</span>
                </div>

            </div>

            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <h2>Running Projects</h2>
                <div>
                    <b>
                        "Real Time Hand Gesture Recoginition using CNN And RNN"
                    </b>
                </div>
                <div>
                    It will be the small contribution to such persons who are not able to hear or speak.
                    Using this application Through hand gestures a person can able to communicate with other person and
                    it will not matter that another person know the sign language or not ,they can eaisly communicate
                    with each
                    other.
                </div>
            </div>
            <div class="col-md-10" id="image">
                <span>
                    <img [src]="achivementUrl" height="550" width="450">
                </span>
            </div>
        </div>

    </div>
</div>