<div class="nav nav-navbar" id="fullPage">
    <div class="row" id="insidePage">
        <div class="col-md-7">  
            <p><b>Name: Abhishek Gupta</b></p>
            
            <p><b>College: ABES Institute of Technology (Ghaziabad).</b></p>
            <p><b>Stream: Computer science and Engineering.</b></p>
            <p><b>Year of Passing: 2023.</b></p>
            <p><b> Intrested In: Development of various softwares.</b></p>
            <p><b>Address: Greater Noida.</b></p>
            
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" type="textarea"><h2>Short Introduction </h2>
                <div class="nav nav-tabs">
                    Hello My name is Abhishek Gupta.
                    currently I am pursuing Btech from ABES Institute of Technology.
                    Also I am Internship trainee at Bharuwa Solutions Pvt.Ltd. from oct-10-2022, as a software developer.
                </div>    
                
            </div>
        </div>
            
        <div class="col-md-4" id="image">
            <span>
                <img [src]="url" height="400"  width="250" >
            </span> 
        </div>
    </div>
    
</div>
