
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 row" id="insidepage">
    <div id="header"><h5><p >Various Profile Links are Below: </p></h5></div>

    
    <div class="nav nav-navbar">
        <p>
            <b>
                Github link : 
            </b>
            <a href="https://github.com/Abhishek-1403"> press link for see the profile </a>
            <span id="linkimage"><img [src]="githubUrl" alt="Some Issue" height="60" width="60"></span>
        </p>
    </div>

    <div class="nav nav-navbar">
        <p>
            <b>    
                Linkedin Id :
            </b>
            <a href="https://www.linkedin.com/in/abhishek-gupta-aa20b919b/"> press link for see the profile </a>
            <span id="linkimage"><img [src]="linkedinUrl" alt="Some Issue" height="60" width="60"></span>
            
        </p>
    </div>
   
    <div class="nav nav-navbar">
        <p>
            <b>
                Leetcode Id : 
            </b>
            <a href="https://leetcode.com/profile/">press link for see the profile </a>
            <span id="linkimage"><img [src]="leetcodeUrl" alt="Some Issue" height="60" width="60"></span>
        </p>
    </div>
  
    <div class="nav nav-navbar">
        <p>
            <b>
                Geeks For Geeks Id : 
            </b>
            <a href="https://auth.geeksforgeeks.org/user/abhishekguptagolu653" id="specialCase">press link for see the profile </a>
            <span id="linkimage"><img [src]="gfgUrl" alt="Some Issue" height="60" width="60"></span>
        </p>
    </div>
  
    <div class="nav nav-navbar">
        
        <p>
            <b>
                Facebook Id:
            </b>
            <a href="https://www.facebook.com/profile.php?id=100009768853384">press link for see the profile</a>
            <span id="linkimage"><img [src]="facebookUrl" alt="Some Issue" height="60" width="60"></span>
        </p>
    </div>
    <!-- <div class="col-md-10" id="image">
        <span>
            <img [src]="profileLinkUrl" height="400" width="350">
        </span>
    </div>   -->
</div>