<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" id="contact">
    <div class="container-fluid " id="pageContent">
        <div class="row col-md-15">

            <div id="subheader" id="contactheader">
                <h5>
                    <p>
                        <b>
                            Different modes of Contact are shown below:
                        </b>
                    </p>
                </h5>
            </div>
            <div class="nav nav-navbar">
                <p>
                    <b>
                        Phone Number:
                    </b>
                    <span>9873479853</span>
                </p>
            </div>

            <div class="nav nav-navbar">
                <p>
                    <b>
                        Alternative Phone Number:
                    </b>
                    <span>9654432425</span>
                </p>
            </div>
            <div class="nav nav-navbar">
                <p>
                    <b>
                        Email id:
                    </b>
                    <span>653akg@gmail.com</span>
                </p>
            </div>
            <div class="nav nav-navbar">
                <p>
                    <b>
                        Alternate Email id:
                    </b>
                    <span>abhishekguptagolu653@gmail.com</span>
                </p>
            </div>
            <div class="nav nav-navbar">
                <p>
                    <b>
                        microsoft id:
                    </b>
                    <span>abhishek.gupta@bharuwasolutions.com</span>
                </p>
            </div>
            <div class="nav nav-navbar">
                <p>
                    <b>
                        Instagram id:
                    </b>
                    <span>
                        <a href="https://www.instagram.com/abhishekgupta6760/">
                            abhishekgupta6760
                        </a>
                    </span>
                </p>
            </div>
            <div class="col-md-10" id="image">
                <span>
                    <img [src]="contactUrl" height="400" width="350">
                </span>
            </div>
        </div>
    </div>



</div>